@import "tailwindcss";
@config "../tailwind.config.ts";

@layer base {
    :root {
        --radius: 0.5rem;
    }
.dark {
    --background: #282828;
    --background-2: #3c3836;
    --foreground: #ebdbb2;
    --popover: #3c3836;
    --popover-foreground: #ebdbb2;
    --secondary: #504945;
    --secondary-foreground: #d5c4a1;
    --primary: #d79921;
    --primary-foreground: #fbf1c7;
    --muted: #7c6f64;
    --muted-foreground: #ebdbb2;
    --accent: #8ec07c;
    --accent-foreground: #282828;
    --destructive: #fb4934;
    --destructive-foreground: #ebdbb2;
    --border: #3c3836;
    --input: #7c6f64;
    --ring: #8ec07c;
    --chart-1: #d79921;
    --chart-2: #8ec07c;
    --chart-3: #fb4934;
    --chart-4: #d65d0e;
    --chart-5: #d79921;
}

.light {
    --background: #fbf1c7;
    --background-2: #d5c4a1;
    --foreground: #3c3836;
    --popover: #fbf1c7;
    --popover-foreground: #3c3836;
    --secondary: #bdae93;
    --secondary-foreground: #3c3836;
    --primary: #d79921;
    --primary-foreground: #282828;
    --muted: #a89984;
    --muted-foreground: #3c3836;
    --accent: #8ec07c;
    --accent-foreground: #fbf1c7;
    --destructive: #fb4934;
    --destructive-foreground: #fbf1c7;
    --border: #d5c4a1;
    --input: #a89984;
    --ring: #8ec07c;
    --chart-1: #d79921;
    --chart-2: #8ec07c;
    --chart-3: #fb4934;
    --chart-4: #d65d0e;
    --chart-5: #d79921;
}
}


@layer base {
    * {
        @apply border-border ease-in-out;
    }
    body {
        @apply bg-background text-foreground max-w-screen overflow-x-hidden;
    }
    button {
        @apply cursor-pointer
    }
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: hsl(var(--border));
}